.add-input-container {
    display: flex;
    flex-direction: row;
}

.input-container {
    display: flex;
    flex: 8;
}

.btn-container {
    display: flex;
    flex: 2;
    padding: 7px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6%;
}